.experience-accordion {
  font-size: var(--fs-sm);
  cursor: pointer;
}

.experience-accordion__trigger {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}

.experience-accordion:hover .experience-accordion__trigger:not(:hover)[data-state='closed'] {
  /* TODO: change this to a variable */
  color: rgba(133, 133, 133, 0.5);
}

/* TODO: add animation for when Accordion.Content is extended */
/* TODO: add animation for each Accordion.Item for how they are displayed into the screen */
