.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.gap-4 {
  gap: 1rem;
}

.gap-2 {
  gap: 0.5rem;
}

.pb-4 {
  padding-bottom: 1rem;
}

.flex-row {
  flex-direction: row;
}

.items-center {
  align-items: center;
}

.justify-between {
  justify-content: space-between;
}

.width-screen {
  width: 100vw;
}
