:root {
  --bgColorMenu: rgba(255, 255, 255, 1);
  --duration: 0.7s;
}

.wrapper {
  display: flex;
  justify-content: center;
  padding-block: 2em;
  width: 100%;
  max-width: 600px;
  overflow: hidden;
}

.menu-container {
  position: relative;
  width: 100%;
}

.menu {
  font-size: 1.25em;
  background-color: var(--bgColorMenu);
  /* todo: make the following into a variable */
  box-shadow:
  /* Top shadow is none, so svg can appear seamlessly */
    0 -10px 10px -10px rgba(0, 0, 0, 0),
    /* Bottom shadow */ 0 10px 10px -10px rgba(0, 0, 0, 0.09),
    /* Left shadow */ -10px 0 10px -10px rgba(0, 0, 0, 0.09),
    /* Right shadow */ 10px 0 10px -10px rgba(0, 0, 0, 0.09);

  width: 100%;

  display: flex;
  justify-content: flex-start;
  padding: 0 2em;
  position: relative;
  border-radius: 10px;
  /* ensure horizontal scrolling */
  overflow-x: auto;
  scroll-behavior: smooth;
  white-space: nowrap;
}

.menu::-webkit-scrollbar {
  display: none;
}

.menu__item {
  all: unset;
  position: relative;
  cursor: pointer;
  /* display: inline-flex; */
  /* justify-content: center; */
  /* align-items: center; */
  padding: 1em 0 1.5em;
  transition: transform var(--timeOut, var(--duration));
  will-change: transform;
  margin-right: 1em;
}

.menu__item-text {
  color: rgba(133, 133, 133, 0.5);
  transition: color var(--duration);
}

.menu__item.active {
  transform: translateY(-0.5em);
}

.menu__item.active .menu__item-text {
  color: #555555;
}

.menu__dot {
  position: absolute;
  bottom: 0.75rem;
  left: 0;
  width: 10px;
  height: 10px;
  /* TODO: convert to  variable */
  background-color: #555555;
  box-shadow: 0 0 20px rgba(243, 241, 234, 1);
  border-radius: 50%;
  transition:
    transform var(--duration),
    background-color var(--duration),
    width var(--duration) ease-in-out;
}

/* Adjust the movement to include scaling */
.menu__dot {
  transform: translateX(var(--dotPosition)) scale(1);
}

.menu__dot.active {
  animation: dot-elongate var(--duration) ease-in-out forwards;
}

.menu__border {
  /* Access the svg using id from the html */
  clip-path: url(#menu);

  position: absolute;
  left: 0;
  bottom: 94%;

  /* Handle size of svg in with id menu */
  width: 9em;
  height: 2em;
  background-color: var(--bgColorMenu);
  transition: transform var(--timeOut, var(--duration));
  will-change: transform;
}

/* TODO: might not need this */
/* .svg-container {
  position: relative;
} */

@keyframes dot-elongate {
  0%,
  100% {
    width: 10px;
    border-radius: 50%;
  }
  30% {
    width: 50px;
    border-radius: 20%;
  }
}
