@import 'variables.css';

html {
  height: 100%;
}

main {
  max-width: max(390px, 80%);
  margin: auto;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100vw;
  height: 1rem;
  font-size: var(--fs-sm);
  padding-bottom: 1rem;
  padding-inline: var(--spacing);
}

/* CSS Reset 
  inspired by https://www.joshwcomeau.com/css/custom-css-reset/
  */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

body {
  -webkit-font-smoothing: antialiased;
  font-family: var(--font-primary);
  background-color: var(--bg-primary);
  line-height: 1.5;
  &::before {
    width: 100%;
    display: block;
    content: '';
    height: 0.1rem;
    position: absolute;
    top: 0;
    left: 0;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

h2 {
  font-family: var(--font-secondary);
  font-weight: 400;
}

h3 {
  font-family: var(--font-secondary);
  font-weight: 700;
}
