.link {
  line-height: 1;
  display: flex;
  justify-content: center;
  user-select: none;
  padding: 8px 16px;
  position: relative; /* Needed for span::before to position correctly */
  transition: transform 0.4s cubic-bezier(0.2, 1, 0.8, 1);
  text-decoration: none; /* Explicitly remove underline from select__item */
}

/* todo: might need to update this since it'll be a different data attribute*/
.link[data-highlighted] {
  cursor: pointer;
  outline: none;
  transform: translateY(-2px); /* Moves the highlighted item upwards */
}

/* Move the underline effect to span */
.link span {
  position: relative;
  text-decoration: none; /* Remove default text underline */
  transition: transform 0.4s cubic-bezier(0.2, 1, 0.8, 1);
}

/* Underline effect using ::before pseudo-element on span */
.link span::before {
  content: '';
  position: absolute;
  bottom: -1rem;
  left: 0;
  width: 100%;
  height: 2px;
  background: currentColor;
  transform-origin: 50% 100%;
  clip-path: polygon(0% 0%, 0% 100%, 0 100%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%, 100% 100%, 100% 0%);
  transition:
    clip-path 0.4s,
    transform 0.4s cubic-bezier(0.2, 1, 0.8, 1);

  /* Prevent the ::before element from interfering with the cursor */
  pointer-events: none;
}

/* Animate underline when highlighted */
.link[data-highlighted] span::before {
  transform: translate3d(0, 2px, 0) scale3d(1.08, 3, 1);
  clip-path: polygon(0% 0%, 0% 100%, 50% 100%, 50% 0, 50% 0, 50% 100%, 50% 100%, 0 100%, 100% 100%, 100% 0%);
}

/* Hover effect for smooth text movement */
.link[data-highlighted] span {
  transform: translate3d(0, -2px, 0); /* Moves the text upwards */
}
