/* .content-image {
  object-fit: cover;
  object-position: center;
  width: 100%;
  max-width: 350px;
  height: 100%;

  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.06);
  border-radius: 10px;
} */

.content-image {
  width: 100%;
}

.content {
  position: relative;
  /* padding: 1rem; */
  overflow: hidden;
  break-inside: avoid;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin-bottom: 1.5rem;
}

.content-info {
  position: absolute;
  padding: 1.2rem;
  transform: translateY(-100%);
  transition: transform 0.4s ease-in-out;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
}

.content:hover .content-info,
.content:focus .content-info,
.content-info.visible {
  transform: translateY(0);
}

.content-info__title {
  position: relative;
  text-transform: uppercase;
  margin-bottom: 1.5rem;
  padding-bottom: 1.5rem;
  padding-inline: 1rem;
  z-index: 1000;
}

.content-info__title::after {
  justify-content: center;
  position: absolute;
  content: '';
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: var(--font-color-content-header);
}

.content-info__desc {
  position: relative;
  padding-inline: 1rem;
  z-index: 1000;
}

.content-info__overlay {
  /* height: 95%; */
  /* width: 100%; */
  /* border-radius: 10px; */
  position: absolute;
  inset: 0;
  background: rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
}
