---
import MemorabiliaLayout from '../layouts/MemorabiliaLayout.astro';
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <MemorabiliaLayout title="welcome" />

  <style is:global>
    /* CSS Reset 
  inspired by https://www.joshwcomeau.com/css/custom-css-reset/
  */
    *,
    *::before,
    *::after {
      box-sizing: border-box;
    }

    * {
      margin: 0;
    }

    img,
    picture,
    video,
    canvas,
    svg {
      display: block;
      max-width: 100%;
    }
    input,
    button,
    textarea,
    select {
      font: inherit;
    }

    p,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      overflow-wrap: break-word;
    }

    #root,
    #__next {
      isolation: isolate;
    }

    body {
      &::before {
        width: 100%;
        display: block;
        content: '';
        height: 0.1rem;
        position: absolute;
        top: 0;
        left: 0;
      }
    }
  </style>
</html>
