---
import BaseLayout from '../layouts/BaseLayout.astro';
import Experience from '../components/experience/Experience.tsx';
import { getCollection } from 'astro:content';
import '../styles/utilities.css';
import About from '../components/About.astro';
import Contact from '../components/Contact.astro';
import ErrorBoundary from '../components/ErrorBoundary';

const allExperience = await getCollection('experience');
const workExperience = await getCollection('experience', ({ data }) => {
  // TODO: create a constant for the type 'work'
  return data.type === 'work';
});
const projectExperience = await getCollection('experience', ({ data }) => {
  return data.type === 'project';
});

allExperience.sort((a, b) => b.data.startDate.getTime() - a.data.startDate.getTime());
workExperience.sort((a, b) => b.data.startDate.getTime() - a.data.startDate.getTime());
projectExperience.sort((a, b) => b.data.startDate.getTime() - a.data.startDate.getTime());
---

<BaseLayout title="Alberto Godinez">
  <main class="flex flex-column pi-2 mb-48 mt-16 height-100">
    <section class="flex flex-column gap-16 min-height-100">
      <ErrorBoundary>
        <About />
      </ErrorBoundary>
      <ErrorBoundary>
        <Experience
          allExperience={allExperience}
          workExperience={workExperience}
          projectExperience={projectExperience}
          client:visible
        />
      </ErrorBoundary>
      <ErrorBoundary>
        <Contact />
      </ErrorBoundary>
    </section>
  </main>
</BaseLayout>
