---
import BaseLayout from '../layouts/BaseLayout.astro';
import Experience from '../components/Experience.tsx';
import { getCollection } from 'astro:content';
import '../styles/global.css';
import About from '../components/About.astro';
import Contact from '../components/Contact.astro';

const allExperience = await getCollection('experience');
const workExperience = await getCollection('experience', ({ data }) => {
  // TODO: create a constant for the type 'work'
  return data.type === 'work';
});
const projectExperience = await getCollection('experience', ({ data }) => {
  return data.type === 'project';
});

workExperience.sort((a, b) => new Date(b.data.startDate).getTime() - new Date(a.data.startDate).getTime());
projectExperience.sort((a, b) => new Date(b.data.startDate).getTime() - new Date(a.data.startDate).getTime());
---

<BaseLayout title="Alberto Godinez">
  <main class="flex flex-column flex-ac-center pi-2">
    <div class="flex flex-column gap-16 height-screen">
      <About />
      <Experience
        allExperience={allExperience}
        workExperience={workExperience}
        projectExperience={projectExperience}
        client:load
      />
      <Contact />
    </div>
  </main>
</BaseLayout>
