---
import { getCollection } from 'astro:content';
import FavoritesCollectionHandler from '../components/FavoritesCollectionHandler';
import { SelectionHandler } from '../components/selection/SelectionHandler';
import '../styles/global.css';
import BaseLayout from '../layouts/BaseLayout.astro';

const favoritesCollection = await getCollection('favorites');
---

<BaseLayout title="Alberto Godinez - memo">
  <main class="width-screen height-screen">
    <SelectionHandler client:load />
    <FavoritesCollectionHandler favoritesCollection={favoritesCollection} client:load />
  </main>
</BaseLayout>
