---
import BaseLayout from '../layouts/BaseLayout.astro';
import RaindropWrapper from '../components/RaindropWrapper.astro';
import '../styles/action-trigger.css';
---

<BaseLayout title="Alberto Godinez">
  <main class="width-screen pi-2 mb-48 mt-16">
    <section>
      <!-- TODO: consider adding a tooltip with the description of aesthetics -->
      <h1 class="font-secondary font-thin mb-4">
        this page is just here for the <span class="glow-text">aesthetics</span>. Or at least what I consider to be <b>
          <span class="glow-text">aesthetic</span>/nice/soothing/etc.</b
        >
      </h1>
      <h3 class="mb-8" style={{ fontWeight: 300 }}>
        <!-- todo: fix link once this page has been added -->
        <b>side note</b>: check out how this works underneath the hood <a
          href="/"
          class="action-trigger action-trigger__underline">here</a
        >
      </h3>
      <RaindropWrapper />
    </section>
  </main>
</BaseLayout>
