<section
  style="font-family: var(--font-secondary); font-size: var(--fs-base);"
  class="flex flex-column gap-4 text-align-left"
>
  <h2>
    Hi, I'm <span class="font-secondary font-bold">Alberto Godinez</span>
  </h2>
  <p>
    Currently living in Austin, Texas and working on adding new trip planning feastures on all <a
      href="https://expedia.com/trips/"
      class="selection-trigger selection-trigger__underline">Expedia Groups</a
    > platforms.
  </p>
  <p>Hope you enjoy this little sliver of the internet!</p>
</section>
