<section id="about" class="flex flex-column gap-4 text-align-left">
  <h2>Hi, I'm Alberto Godinez!</h2>
  <p>
    I'm a software developer based out of Austin, Texas. Currently working on adding trip planning features on all of <a
      href="https://expedia.com/trips/"
      class="action-trigger action-trigger__underline">Expedia Groups</a
    > platforms.
  </p>
  <p>Hope you enjoy this little sliver of the internet!</p>
</section>
