<section class="flex flex-column text-align-left gap-4">
  <h2>Get in touch</h2>
  <p>Feel free to reach out our connect using any of the links below!</p>

  <div class="flex flex-jc-space-around">
    <a href="mailto:alberto.godinez90@gmail.com">Email</a>
    <a href="https://www.linkedin.com/in/albertogodinez/">LinkedIn</a>
    <a href="https://www.github.com/albertogodinez">Github</a>
  </div>
</section>
