<section class="flex flex-column text-align-left gap-4">
  <h2>Get in touch</h2>
  <p>Feel free to reach out our connect using any of the links below!</p>

  <div class="flex flex-jc-space-around">
    <a href="mailto:alberto.godinez90@gmail.com" class="selection-trigger selection-trigger__underline">Email</a>
    <a href="https://www.linkedin.com/in/albertogodinez/" class="selection-trigger selection-trigger__underline"
      >LinkedIn</a
    >
    <a href="https://www.github.com/albertogodinez" class="selection-trigger selection-trigger__underline">Github</a>
  </div>
</section>
