---
import '../styles/global.css';
import '../styles/footer.css';
---

<!-- todo: consider updating this an ID -->
<footer class="wrapper">
  <!-- TODO: might need to update the name -->
  <nav class="menu">
    <button class="menu__item active" style="--bgColorItem: #ff8c00"><span class="menu__item-text">Home</span></button>
    <button class="menu__item" style="--bgColorItem: #ff8c00"><span class="menu__item-text">Projects</span></button>
    <button class="menu__item" style="--bgColorItem: #ff8c00"><span class="menu__item-text">Work</span></button>
    <!-- <button class="menu__item" style="--bgColorItem: #ff8c00"><span class="menu__item-text">Moodboard</span></button>
    <button class="menu__item" style="--bgColorItem: #ff8c00"><span class="menu__item-text">Memorabilium</span></button>
    <button class="menu__item" style="--bgColorItem: #ff8c00"><span class="menu__item-text">Email</span></button>
    <button class="menu__item" style="--bgColorItem: #ff8c00"><span class="menu__item-text">Github</span></button> -->
    <div class="menu__border"></div>
  </nav>
  <div class="svg-container">
    <svg viewBox="0 0 202.9 45.5">
      <clipPath id="menu" clipPathUnits="objectBoundingBox" transform="scale(0.0049285362247413 0.021978021978022)">
        <path
          d="M6.7,45.5c5.7,0.1,14.1-0.4,23.3-4c5.7-2.3,9.9-5,18.1-10.5c10.7-7.1,11.8-9.2,20.6-14.3c5-2.9,9.2-5.2,15.2-7
          c7.1-2.1,13.3-2.3,17.6-2.1c4.2-0.2,10.5,0.1,17.6,2.1c6.1,1.8,10.2,4.1,15.2,7c8.8,5,9.9,7.1,20.6,14.3c8.3,5.5,12.4,8.2,18.1,10.5
          c9.2,3.6,17.6,4.2,23.3,4H6.7z"
        ></path>
      </clipPath>
    </svg>
  </div>
</footer>
<script>
  const menu = document.querySelector('.menu') as HTMLElement;
  const menuItems = document.querySelectorAll('.menu__item');
  const menuBorder = document.querySelector('.menu__border') as HTMLElement;

  function handleClick(item: Element, menu: HTMLElement) {
    let activeItem = document.querySelector('.active') as Element;
    if (item === activeItem || !activeItem) return;

    menu.style.removeProperty('--timeOut');

    activeItem.classList.remove('active');
    item.classList.add('active');

    activeItem = item;

    handleBorderPosition(menuBorder, menu, activeItem);
  }

  function handleBorderPosition(menuBorder: HTMLElement, menu: HTMLElement, activeItem?: Element) {
    activeItem = activeItem || (document.querySelector('.active') as Element);
    const activeItemPosition = activeItem.getBoundingClientRect();

    const { left, width } = activeItemPosition;

    const moveRight = Math.floor(left - menu.offsetLeft - (menuBorder.offsetWidth - width) / 2) + 'px';
    menuBorder.style.transform = `translateX(${moveRight})`;
  }

  menuItems.forEach((item: Element) => {
    item.addEventListener('click', () => handleClick(item, menu));
  });

  window.addEventListener('resize', () => {
    handleBorderPosition(menuBorder, menu);
    menu.style.setProperty('--timeOut', 'none');
  });
</script>
