---
const rawBuildTime = import.meta.env.NETLIFY_BUILD_TIME;
---

<footer>
  <!-- TODO: add programmatically -->
  <p>Updated on: Oct. 14th, 2024</p>
  <p>
    View code on <a
      class="action-trigger action-trigger__underline"
      href="https://github.com/albertogodinez/personal-website">Github</a
    >
  </p>
</footer>
