---
const rawBuildTime = import.meta.env.NETLIFY_BUILD_TIME;

// TODO: move this to a utility file
function formatDate(dateString: string) {
  if (!dateString) return '🤔';

  const date = new Date(dateString);
  const options: Intl.DateTimeFormatOptions = { year: 'numeric', month: 'short', day: 'numeric' };
  return date.toLocaleDateString('en-US', options);
}

const lastUpdated = formatDate(rawBuildTime);
---

<footer>
  <!-- TODO: add programmatically -->
  <p>Updated on: Oct. 14th, 2024</p>
  <p>
    View code on <a
      class="action-trigger action-trigger__underline"
      href="https://github.com/albertogodinez/personal-website">Github</a
    >
  </p>
</footer>
