.select__content {
  /* display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; */
  overflow: hidden;

  width: 100vw;
  height: 100vh;
  font-family: var(--font-secondary);
  font-size: 6rem;
  padding-block-end: 1rem;
}

.select__item {
  line-height: 1;
  display: flex;
  justify-content: center;
  user-select: none;
  padding: 8px 16px;
  position: relative; /* Needed for span::before to position correctly */
  transition: transform 0.4s cubic-bezier(0.2, 1, 0.8, 1);
}

.select__item[data-highlighted] {
  cursor: pointer;
  outline: none;
  transform: scaleX(1.25) scaleY(1.25);
}

.scroll-area__viewport {
  /* width: 100%;
    height: 100%; */
  /* overflow: auto; */
  /* scroll-snap-type: y mandatory; */
  /* scroll-behavior: smooth; */
}

.ScrollAreaThumb {
  flex: 1;
  /* background: var(--mauve-10);
    border-radius: var(--scrollbar-size); */
  position: relative;
}

/* todo: figure out if I even need this */
/* increase target size for touch devices https://www.w3.org/WAI/WCAG21/Understanding/target-size.html */
.ScrollAreaThumb::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  min-width: 44px;
  min-height: 44px;
}
