---
import { slide } from 'astro:transitions';
import '../styles/slider.css';

interface Props {
  sliderItems: string[];
}
const { sliderItems } = Astro.props;
---

<!-- TODO: Add proper null check -->
<div class="slider" style={`--quantity: ${sliderItems.length}`}>
  <div class="slider__list">
    {sliderItems.map((item: string) => <p class="slider__item">{item}</p>)}
  </div>
</div>
