@import '@radix-ui/colors/black-alpha.css';
@import '@radix-ui/colors/mauve.css';
@import '@radix-ui/colors/violet.css';

:root {
  font-size: 18px;
  --black-a7: rgba(0, 0, 0, 0.5);
  --grid-columns: 5;
  --grid-min-width: 300px;

  --grid-gap: 1rem;
  --grid-gap-half: 0.5rem;
  --grid-gap-double: 2rem;

  --spacing: 2rem;
  --spacing-half: 1rem;
  --spacing-double: 4rem;

  --font-primary: 'Poppins', sans-serif;
  --font-secondary: 'Abril Fatface', system-ui;

  --font-size-content-header: 1.1rem;
  --font-color-content-header: black;
}

body {
  -webkit-font-smoothing: antialiased;
}

h1 {
  font-family: var(--font-primary);
}

.ScrollAreaRoot {
  width: 200px;
  height: 225px;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0 2px 10px var(--black-a7);
  background-color: white;
  --scrollbar-size: 10px;
}

.ScrollAreaViewport {
  width: 100%;
  height: 100%;
  border-radius: inherit;
}

.ScrollAreaScrollbar {
  display: flex;
  /* ensures no selection */
  user-select: none;
  /* disable browser handling of all panning and zooming gestures on touch devices */
  touch-action: none;
  padding: 2px;
  background: var(--black-a6);
  transition: background 160ms ease-out;
}

.ScrollAreaScrollbar:hover {
  background: var(--black-a8);
}

.ScrollAreaScrollbar[data-orientation='vertical'] {
  width: var(--scrollbar-size);
}

.ScrollAreaScrollbar[data-orientation='horizontal'] {
  flex-direction: column;
  height: var(--scrollbar-size);
}

.ScrollAreaThumb {
  flex: 1;
  background: var(--mauve-10);
  border-radius: var(--scrollbar-size);
  position: relative;
}

/* increase target size for touch devices https://www.w3.org/WAI/WCAG21/Understanding/target-size.html */
.ScrollAreaThumb::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  min-width: 44px;
  min-height: 44px;
}

.ScrollAreaCorner {
  background: var(--black-a8);
}

.Text {
  color: var(--violet-11);
  font-size: 15px;
  line-height: 18px;
  font-weight: 500;
}

.Tag {
  color: var(--mauve-12);
  font-size: 13px;
  line-height: 18px;
  margin-top: 10px;
  border-top: 1px solid var(--mauve-6);
  padding-top: 10px;
}

.memorabilia-body {
  width: 100vw;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.memorabilia-body h1 {
  padding-block: 1rem;
}

.grid {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(
    auto-fit,
    minmax(min(100%, max(var(--grid-min-width), 100% / calc(var(--grid-columns) + 1))), 1fr)
  );
  gap: var(--grid-gap-half);
}

.grid[data-columns] {
  &[data-columns='1'] {
    --grid-columns: 1;
  }
  &[data-columns='2'] {
    --grid-columns: 2;
  }
  &[data-columns='3'] {
    --grid-columns: 3;
  }
  &[data-columns='4'] {
    --grid-columns: 4;
  }
  &[data-columns='5'] {
    --grid-columns: 5;
  }
  &[data-columns='6'] {
    --grid-columns: 6;
  }
  grid-template-columns: repeat(
    auto-fit,
    minmax(min(100%, max(var(--grid-min-width), 100% / calc(var(--grid-columns) + 1))), 1fr)
  );
}

.grid[data-columns] {
  margin-bottom: var(--spacing-half);
  > div {
    padding: var(--spacing-half);
    background: rgba(255, 255, 255, 0.1);
    border-radius: 1rem;
  }
}

.content-image {
  object-fit: cover;
  object-position: center;
  width: 100%;
  max-width: 350px;
  height: 100%;

  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.06);
  border-radius: 10px;
}

.content {
  position: relative;
  padding: 1rem;
  border-radius: 10px;
  overflow: hidden;
  height: 85vh;
  max-height: 600px;
  min-width: 350px;
}

.content-info {
  position: absolute;
  padding: 1.2rem;
  transform: translateY(-100%);
  transition: transform 0.4s ease-in-out;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.content:hover .content-info,
.content:focus .content-info,
.content-info.visible {
  transform: translateY(0);
}

.content-info__title {
  font-family: var(--font-secondary);
  font-size: var(--font-size-content-header);
  line-height: 1.3;
  position: relative;
  text-transform: uppercase;
  margin-bottom: 1.5rem;
  padding-bottom: 1.5rem;
  padding-inline: 1rem;
  z-index: 1000;
}

.content-info__title::after {
  justify-content: center;
  position: absolute;
  content: '';
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: var(--font-color-content-header);
}

.content-info__desc {
  position: relative;
  padding-inline: 1rem;
  z-index: 1000;
}

.content-info__overlay {
  height: 95%;
  width: 100%;
  border-radius: 10px;
  position: absolute;
  inset: 0;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(8px);
}

.DialogOverlay {
  background-color: var(--black-a9);
  position: fixed;
  inset: 0;
  animation: overlayShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
}

.DialogContent {
  background-color: white;
  border-radius: 6px;
  box-shadow:
    hsl(206 22% 7% / 35%) 0px 10px 38px -10px,
    hsl(206 22% 7% / 20%) 0px 10px 20px -15px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90vw;
  max-width: 450px;
  max-height: 85vh;
  padding: 25px;
  animation: contentShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
}
.DialogContent:focus {
  outline: none;
}

.IconButton {
  font-family: inherit;
  border-radius: 100%;
  height: 25px;
  width: 25px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: black;
  position: absolute;
  top: 10px;
  right: 10px;
}

@keyframes overlayShow {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes contentShow {
  from {
    opacity: 0;
    transform: translate(-50%, -48%) scale(0.96);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}
