.experience-accordion {
  font-size: var(--fs-sm);
  cursor: pointer;
  /* width: 100%; */
}

.accordion-item {
  /* TODO: UPDATE THIS WITH CORRECT VARIABLE */
  border-top: 0.5px solid var(--font-color-content-header);
}

.accordion-content {
  overflow: hidden;
  margin: 0;
  text-align: left;
}

@media screen and (min-width: 768px) {
  /* Theres a small bug when the accordion is opened and this helps mitigate it */
  .accordion-content {
    max-width: min(calc(100vw * 0.8), 768px);
  }
}

.accordion-content[data-state='open'] {
  animation: slideDown 300ms ease-out;
}

.accordion-content[data-state='closed'] {
  animation: slideUp 300ms ease-out;
}

@keyframes slideDown {
  from {
    height: 0;
  }
  to {
    height: var(--radix-accordion-content-height);
  }
}

@keyframes slideUp {
  from {
    height: var(--radix-accordion-content-height);
  }
  to {
    height: 0;
  }
}

.experience-accordion__trigger {
  transition: color 300ms ease-out; /* Add transition for color change */
}

.experience-accordion:hover .experience-accordion__trigger:not(:hover)[data-state='closed'] {
  /* TODO: change this to a variable */
  color: rgba(133, 133, 133, 0.5);
}

/* TODO: add animation for when Accordion.Content is extended */
/* TODO: add animation for each Accordion.Item for how they are displayed into the screen */
