:root {
  --slider-font-size: var(--fs-xl);
  --slider-height: calc(var(--slider-font-size) * 1.2);
}

.infinite-slider {
  width: 100%;
  font-size: var(--slider-font-size);
  height: 100%;
  overflow: hidden;
  mask-image: linear-gradient(to right, transparent, #000 10% 90%, transparent);
}

.infinite-slider__list {
  display: flex;
  width: 100%;
  position: relative;
}

.infinite-slider__item {
  text-wrap: nowrap;
  position: absolute;
  left: 100%;
  animation: autoRun 12s linear infinite;
}

@keyframes autoRun {
  0% {
    left: 100%;
  }
  100% {
    left: -120%;
  }
}
