---
import { ViewTransitions } from 'astro:transitions';
import Footer from '../components/Footer.astro';
import GradientBackground from '../components/selection/GradientBackground';

import '../styles/global.css';

const { title, hideFooter = false } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link href="https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap" rel="stylesheet" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body>
    <GradientBackground client:only="react" />
    <slot />
    {!hideFooter && <Footer />}
  </body>
</html>
