---
import '@fontsource/abril-fatface';
import '@fontsource/poppins';
import { getCollection } from 'astro:content';
import FavoritesCollectionHandler from '../components/FavoritesCollectionHandler';
import { SelectionHandler } from '../components/SelectionHandler';
import '../styles/global.css';

const favoritesCollection = await getCollection('favorites');
---

<body class="memorabilia-body">
  <SelectionHandler client:load />
  <section>
    <FavoritesCollectionHandler favoritesCollection={favoritesCollection} client:load />
  </section>
</body>
