---
import '@fontsource/abril-fatface';
import '@fontsource/poppins';
import { getCollection } from 'astro:content';
import SelectWrapper from '../components/SelectWrapper';
import { FAVORITE_TYPES, YEARS } from '../constants/memorabilia';
import FavoritesCollectionHandler from '../components/FavoritesCollectionHandler';

const favoritesCollection = await getCollection('favorites');
const favoriteTypesArray = Object.values(FAVORITE_TYPES).map((type) => type.toLowerCase());
---

<body>
  <h1>
    my favorite{' '}
    <SelectWrapper placeholder="things" options={favoriteTypesArray} selectionStoreKey={'SELECTED_YEAR'} client:load />{
      ' '
    }
    of <SelectWrapper placeholder="all time" options={YEARS} selectionStoreKey={'SELECTED_TYPE'} client:load />
  </h1>
  <FavoritesCollectionHandler collection={favoritesCollection} client:load />
</body>

<style is:global>
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }

  /* grid code */
  :root {
    font-size: 18px;
    --grid-columns: 5;
    --grid-min-width: 200px;
    --grid-gap: 2.5rem;

    --spacing: 2rem;
    --spacing-half: 1rem;
    --spacing-double: 4rem;
  }
</style>
